<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ tit }}</h1>
        <h1>Adicione um herói</h1>
        <form action="#">
            <input type="text" v-model='hero'>{{ hero }} <br>
            <input type="text" v-model='tecni'>{{ tecni }} <br>
            <input type="text" v-model='esco'>{{ esco }} <br>
            <input type="submit" v-on:click='colocar'>
        </form>
        <!-- O v-for vai percorrer o array heroes e salvar cada linha na varial item -->
        <!-- A variavel keys guarda os indices de cada linha do array heroes -->
        <table>
            <tr v-for='(item, keys) in heroes'>
                <!-- <td>
                    {{ keys }} - {{ item.nome }}, {{ item.indiv }}, {{ item.escola }}
                </td> -->
                <td>{{ keys }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.indiv }}</td>
                <td>{{ item.escola }}</td>
            </tr>
        </table>

        <input type="text" v-model='warn'>
        <p>{{ warn }}</p>
        <a href="#" v-on:click='twarn'>Click para inverter a mensagem</a>
        <!-- <div v-for='(item, keys) in heroes'>
        </div> -->
        <hr><hr>
        <label for="">Nome</label><br>
        <input type="text" v-model="nome">
        <hr><hr>
        <label for="">Telefone</label><br>
        <input type="text" v-model="telefone">
        <hr><hr>
        <label for="">Quem é o melhor herói?</label><br>
        <input type="radio" value="Midorya" v-model='hero'>Midorya
        <input type="radio" value="Bakugou" v-model='hero'>Bakugou
        <input type="radio" value="Todoroki" v-model='hero'>Todoroki
        <hr><hr>
        <label for="">Individualidades</label><br>
        <input type="checkbox" value="One for All" v-model='indivi'>One for All <br>
        <input type="checkbox" value="Explosão" v-model='indivi'>Explosão <br>
        <input type="checkbox" value="Meio frio, meio quente" v-model='indivi'>Meio frio, meio quente <br>
        <hr><hr>
        <select name="" id="" v-model="brawlers">
            <option value="Izuku">Izuku</option>
            <option value="Katsuki">Katsuki</option>
            <option value="Shouto">Shouto</option>
        </select>
        <hr><hr>

        <ul>
            <li>Nome: {{ nome }}</li><br>
            <li>Telefone: {{ telefone }}</li><br>
            <li>Heroes: {{ hero }}</li><br>
            <li>Individualidades: {{ indivi }}</li><br>
            <li>Brawlers: {{ brawlers }}</li><br>
            <li>teste: {{ matr }}</li>
        </ul>
        {{ msg }}

        <span v-bind:title="message">
            Pare o mouse sobre mim e veja a dica interligada dinamicamente!
        </span>
        <h1 v-if='seen'>Titulo mostrado</h1>
        <hr><hr>
        <form action="#">
            <input type="text" v-model='msg'><br>
            <input type="submit" v-on:click='escreve'>
        </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        let app = new Vue({
            el: '#app',
            data:{
                tit: 'Heróis de Boku no Hero',
                nome: '',
                telefone: '',
                hero: '',
                indivi:[],
                brawlers: '',
                message: 'Voçê carregou esta página em ' + new Date().toLocaleString(),
                seen: false,
                warn: '',
                msg:'',
                matr:[],
                hero:'',
                tecni:'',
                esco:'',
                heroes:[
                    {nome: 'Midorya Izuku', indiv: 'One for All', escola: 'U.A'},
                    {nome: 'Balugou Katsuki', indiv: 'Explosão', escola: 'U.A'},
                    {nome: 'Todoroki Shouto', indiv: 'Meio frio, meio quente', escola: 'U.A'},
                    {nome: 'Tokoyami Fumikage', indiv: 'Dark shadow', escola: 'U.A'}
                ]
            },
            //função que que inverte a ordem das letras de uma mensagem
            methods:{
                twarn: function(){
                    this.warn = this.warn.split('').reverse().join('')
                },
                //função que adiciona o que está na variavel msg ao array matr
                escreve: function(){
                    this.matr.push(this.msg)
                },
                //função que adiciona um novo elemento a atabela de heróis
                colocar: function(){
                    app.heroes.push({nome:  this.hero + '', indiv: this.tecni + '', escola: this.esco + ''})
                }
            }
        })
    </script>
</body>
</html>